

.header {
  		font-family: Century Gothic, sans-serif;
      text-align: center;
}

.menu {
      padding: 10px 0px 80px 0px;
}

.container {
      padding: 10px 0px 80px 0px;
}

.search-container{
    padding: 0px 0px 80px 650px;
}


.search-inner-container{
    padding: 0px 0px 80px 650px;
}

.submit-btn-container{
      padding: 0px 0px 80px 650px;
}


-------------------------------------
